ul{
  background-color: lightslategray;
  padding: 20px;
  /* height: 700px; */
  /* - Flex container Properties */
  /* display: inline-flex; */
  display: flex;
  /* flex-direction: row;  E' di default*/
  /* flex-direction: column; */

  /* flex-wrap: nowrap;  E' di default*/
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: row wrap; */
  /* flex-flow: column wrap; */
  /* flex-flow: row-reverse wrap; */

  justify-content: start;
  /* justify-content: space-evenly; */
  
  /* - Per l'allineamento verticale */
  /* align-items: stretch; E' di default */
  /* align-items: center; */
  
  align-content: center;
  /* align-content: space-evenly; */
  
}

/* - Flex items: children */
li{
  /* display: inline-block; */
  list-style: none;
  color: white;
  background-color: lightblue;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  margin: 20px;
  width: 100px;
  /* height: 200px; */
}

li:first-child{
  /* flex-shrink: 1; Default */
  /* flex-shrink: 0; */

  /* Flex basis assegna lo spazio che ci vuoi dedicare, flex grow assegna tutto lo spazio extra */
  /* flex-basis: auto; Default */
  flex-basis: 300px;
}

li:nth-child(3){
  /* order: 1; */
  /* order: -1; */
  /* order: 0; Default*/
  color: red;

  /* Assegna lo spazio extra a questo child */
  /* flex-grow: 2; */
}

li:nth-child(2){
  /* flex-grow: 1; */
}

/* div{
  background-color: yellow;
} */